.green {
    font-size: 20px;
    color: green;
}

.red {
    font-size: 20px;
    color: red;
}

.subject {
    
    font-size: 40px;
    
}

body {
    counter-reset: Serial;
}

table {
    
    border-collapse: separate;
    
}

.auto-index td:first-child:before{
    
    counter-increment: Serial;
    content: counter(Serial);

}