.green {
    font-size: 20px;
    color: green;
}

.red {
    font-size: 20px;
    color: red;
}

.subject {
    
    font-size: 40px;
    
}

body {
    counter-reset: Serial;
}

table {
    
    border-collapse: separate;
    
}

.auto-index td:first-child:before{
    
    counter-increment: Serial;
    content: counter(Serial);

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}